{% extends "base.html" %}

{% block title %}
Categories List
{% endblock title %}

{% block content %}
<main>
    <h1>My Accounts</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.number }}</td>
                <td>{{ category.receipts.count }}</td>
            </tr>
        {% endfor %}
    </table>
</main>
{% endblock content %}
