{% extends "base.html" %}

{% block title %}
Accounts List
{% endblock title %}

{% block content %}
<main>
    <h1>My Receipts</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
        {% for account in accounts %}
        <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.number }}</td>
            <td>{{ account.receipts.count }}</td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock content %}
